.contact-form {
  width: 400px;
  margin:0 auto;
  border: 3px darkblue solid;
  border-radius: 8px;
  padding:15px;
  margin-top:50px;
}

.image-box {
  border: 3px solid #e3e3e3;
  padding:15px;
  width: 315px;
}

.dog-image {
  width: 300px;
}

h1, p, a {
  font-family: helvetica;
  text-align: center;
}

.contact-form input {
  width:250px;
  height:30px;
  padding-left:10px;
  display:block;
  margin: 0 auto 10px auto;
}

.submit-button {
  background: darkblue;
  color: lightblue;
  font-size: 16px;
  height: 25px;
  border: 0;
  border-radius: 8px;
}

.phone-book {
  width: 600px;
  border: 3px darkblue solid;
  border-radius: 8px;
  margin: 50px auto;
  padding: 15px;
}

.greeting-btn {
  display:block;
  margin: 30px auto;
  font-size:16px;
  padding:5px;
}
